* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
}

.body-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #DCE8F3;
  margin: 0 auto;
}

.slider-container {
  width: 100%;
  height: 100%;
  display: flex;
  row-gap: 2.5rem;
  flex-direction: column;
  background-color: rgb(0, 23, 31);
  margin: 0 auto;
  padding: 5% 0%;
}

.title-controls-container {
  width: 90%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

/* Images */

.images-container {
  max-width: 90%;
  min-width: 33.5rem;
  min-height: 29.3rem;
  margin: 0 auto;
  display: flex;
  background-color: pink;
  overflow: hidden;
  box-shadow: 0 0 1.3rem 0.7rem #fff;
}

.image {
  min-width: 100%;
  text-align: center;
  box-shadow: 0 0 1.3rem 0.7rem #fff;
}

.image:nth-child(2n+1) {
  background-color: blueviolet;
}

.image:nth-child(2n) {
  background-color: blue;
}

.first-mem,
.second-mem,
.third-mem,
.fourth-mem {
  transition: 1s;
  z-index: 0;
}

.first-mem {
  transform: translateX(200%);
}
.second-mem {
  transform: translateX(300%);
}
.third-mem {
  transform: translateX(400%);
}
.fourth-mem {
  transform: translateX(500%);
}

.mem {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Titles */

.title-container {
  display: flex;
  width: 60%;
  overflow: hidden;
}

.title {
  min-width: 100%;
  font-size: 1.5rem;
  font-family: 'Nunito', sans-serif;
  font-style: italic;
  font-weight: 900;
  color: #FFFFFF;
}

.first-title,
.second-title,
.third-title,
.fourth-title {
  transition: 1s;
  z-index: 0;
  opacity: 0;
}

.first-title {
  transform: translateX(0%);
}
.second-title {
  transform: translateX(-100%);
}
.third-title {
  transform: translateX(-200%);
}
.fourth-title {
  transform: translateX(-300%);
}

/* Buttons */

.controls-container {
  display: flex;
  gap: 1rem;
}

.button-wrapper {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.radio-button {
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
}

.circle-button {
  width: 1.25rem;
  height: 1.25rem;
  z-index: 0;
  border-radius: 50%;
  background-color: #00688D;
}

.button-wrapper:hover .circle-button {
  box-shadow: 0 0 0.3rem 0.5rem #fff;
  transition: 0.2s;
}

.radio-button:checked {
  opacity: 1;
  transition: 0.2s;
}


/* Slider logic */

/* Images */

.slider-container:has(#first-mem:checked) > .images-container > .first-mem {
  z-index: 1;
  transform: translateX(-0%);
}

.slider-container:has(#second-mem:checked) > .images-container > .second-mem {
  z-index: 1;
  transform: translateX(-100%);
}

.slider-container:has(#third-mem:checked) > .images-container > .third-mem {
  z-index: 1;
  transform: translateX(-200%);
}

.slider-container:has(#fourth-mem:checked) > .images-container > .fourth-mem {
  z-index: 1;
  transform: translateX(-300%);
}

/* Titles */

.slider-container:has(#first-mem:checked) > .title-controls-container > .title-container > .first-title {
  z-index: 1;
  opacity: 1;
}

.slider-container:has(#second-mem:checked) > .title-controls-container > .title-container > .second-title {
  z-index: 1;
  opacity: 1;
}

.slider-container:has(#third-mem:checked) > .title-controls-container > .title-container > .third-title {
  z-index: 1;
  opacity: 1;
}

.slider-container:has(#fourth-mem:checked) > .title-controls-container > .title-container > .fourth-title {
  z-index: 1;
  opacity: 1;
}














